/*-----BUTTONS-----*/

/*-----Buttons general-----*/
.nw-btn-group{
	margin-bottom: 50px;
}

.nw-btn-group a{
	margin-right: 20px;
    margin-bottom: 20px
}




/*-----btns large-----*/

.nw-btn-lg{
    display: inline-block;
    overflow: hidden;
    max-width: calc(350px - 80px);
    height: 48px;
    line-height: 54px;
    padding: 0 40px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 200ms linear;
}
.nw-btn-lg span{
    z-index: 2;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.nw-btn-lg-ghost{
    display: inline-block;
    overflow: hidden;
    max-width: calc(350px - 80px);
    height: 46px;
    line-height: 54px;
    padding: 0 40px;
    cursor: pointer;
    position: relative;
}
.nw-btn-lg-ghost span{
    z-index: 2;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}
/*-----btns large-----*/




/*-----btns medium-----*/
.nw-btn-md{
    display: inline-block;
    overflow: hidden;
    max-width: calc(250px - 40px);
    height: 36px;
    line-height: 40px;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 200ms linear;
}
.nw-btn-md span{
    z-index: 2;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}


.nw-btn-md-ghost{
    display: inline-block;
    overflow: hidden;
    max-width: calc(250px - 40px);
    height: 34px;
    line-height: 39px;
    padding: 0 20px;
    cursor: pointer;
    position: relative;
}
.nw-btn-md-ghost span{
   z-index: 2;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}
/*-----btns medium-----*/




/*-----btns small-----*/
.nw-btn-sm{
    display: inline-block;
    overflow: hidden;
    max-width: calc(190px - 40px);
    height: 30px;
    line-height: 33px;
    padding: 0 20px;
    border: none;
    cursor: pointer;
    position: relative;
    transition: 200ms linear;
}
.nw-btn-sm span{
    z-index: 2;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}

.nw-btn-sm-ghost{
    display: inline-block;
    overflow: hidden;
    max-width: calc(190px - 40px);
    height: 28px;
    line-height: 33px;
    padding: 0 20px;
    cursor: pointer;  
    position: relative;
}
.nw-btn-sm-ghost span{
    z-index: 2;
    position: relative;
    width: 100%;
    display: inline-block;
    text-align: center;
}
/*-----btns small-----*/





/*--btns hover--*/
.nw-btn-hover:before{
    content: '';
    background: #fff;
    opacity: 0.08;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 0;
    display: block;
    transition: width 200ms ease-in-out;
}
.nw-btn-hover:hover {
	box-shadow: 0 5px 12px rgba(0,0,0,0.23);
}
.nw-btn-hover:hover:before{
    width: 110%
}
.nw-btn-hover:active{
	transition: 100ms linear;
	box-shadow: none;
}
.nw-btn-hover:active:before{
    width: 0;
    transition: none
}




.nw-btn-ghost-primary-hover:before{
    content: '';
    background: #E11A2C;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 0;
    display: block;
    transition: width 180ms ease-in-out;
}
.nw-btn-ghost-primary-hover:hover:before{
    width: 110%
}





.nw-btn-ghost-inverse-hover:before{
    content: '';
    background: #231f20;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 100%;
    width: 0;
    display: block;
    transition: width 180ms ease-in-out;
}
.nw-btn-ghost-inverse-hover:hover:before{
    width: 110%
}





.nw-btn-lg-ghost:hover span,
.nw-btn-md-ghost:hover span,
.nw-btn-sm-ghost:hover span{
    transition: color 300ms ease;
    color: #fff;
}
/*--btns hover--*/


/*-----BUTTONS-----*/





/*-----Quantity selector-----*/
[name=quantity] {
	background: transparent;
    border: 0;
    height: 100%;
    width: 36px;
    text-align: center;
    padding-top: 4px;
}

.nw-qty-selector{
    width: 100%;
    max-width: 250px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.nw-btn-qty-select{
    position: absolute;
    width: 100%;
    min-width: initial;
}

.nw-btn-sel-substract{
	width: 15px;
    margin-left: 4%
}

.nw-btn-sel-add{
    width: 15px;
    height: 15px;
    margin-right: 4%
}

.nw-btn-sel-substract:hover svg g,
.nw-btn-sel-add:hover svg path{
	fill: #E11A2C;
}
/*-----Quantity selector-----*/




/*-----Button icon-----*/
.nw-btn-icon{
	width: 48px;
	height: 48px;
	border-radius: 3px;
	border: none;
    display: inline-block;
	cursor: pointer;
}

.nw-btn-ic-inside{
	width: 24px;
    height: 24px;
    padding: 12px;
}

.nw-btn-icon:hover path{
	transition: 300ms linear;
	fill: #E11A2C
}

.nw-btn-icon-active{
    box-shadow: 0 1px 1px rgba(0,0,0,0.10);
}

.nw-btn-icon-active path{
    fill: #E11A2C
}
/*-----Button icon-----*/




/*-----Button step-----*/
.nw-step-input{
    display: none;
}

.nw-btn-step{
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    border-radius: 50%;
    border: 3px solid #C8C8C8;
    display: inline-block;
    text-align: center;
    line-height: 37px;
    width: 35px;
    height: 35px;
    cursor: pointer;
    margin: 0 30px;
    -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);  
}


.nw-btn-step:hover{
    -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    border: 3px solid #E11A2C;
    color: #231F20;
    transform: scale(1.2);
}



.nw-step-input:checked + .nw-btn-step{
    -moz-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -o-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    -webkit-transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    transition: all 0.15s cubic-bezier(0.5, 0, 0, 1.5);
    transform: scale(1.3);
    line-height: 37px;
    background: #E11A2C;
    color: #fff;
    border: 3px solid #e11a2c;
}


/*-----Button rounded-----*/




/*-----Switch selector-----*/
.nw-switch-btn-selector {
    width: 64px;
    height: 28px;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.nw-switch-btn-selector input {
    display: none;
}

.nw-switch-btn-selector label {
  width: 50%;
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.nw-switch-btn-selector label:hover {
    cursor: pointer;
}

.nw-switch-btn-selector input:checked + label{
  -webkit-box-shadow: none;
  box-shadow: none;
  background: #E11A2C
}

.nw-switch-btn-selector input:checked + label span{
    color: #fff
}

.nw-switch-label{
    position: absolute;
    width: 100%;
    text-align: center;
    display: block;
}
/*-----Switch selector-----*/
/*-----BUTTONS-----*/
