/*-----CARDS-----*/

/*-----General-----*/

.nw-card-general{
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 70%;
}

.nw-card-info{
	width: 50%;
	margin-right: 20px;
}

.nw-card-btns{
	width: 50%;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.nw-card-btns a:first-child{
	margin-right: 20px
}
/*-----General-----*/



/*-----Total-----*/
.nw-card-total{
	width: 70%;
	padding: 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nw-card-total-subtotal{
	width: 40%
}

.nw-card-total-subtotal li{
	display: flex;
	justify-content: space-between;
}

.nw-card-total-subtotal .ic_info_tooltip{
	width: 18px;
	height: 18px;
	display: inline-block;
	margin-left: 10px;
	cursor: pointer;
}

.nw-card-total-lable{
	display: flex;
	justify-content: space-between;
	align-items: center;
	width: 50%
}

.nw-card-total-lable li span{
	display: block;
}


@media screen and (min-width: 360px) and (max-width: 1170px){
	.nw-card-total{
		width: 90%;
		display: inline-block;
	}

	.nw-card-total-subtotal{
		width: 100%;
		margin-bottom: 20px
	}

	.nw-card-total-lable{
		width: 100%
	}
}
/*-----Total-----*/




/*-----Category-----*/
.nw-card-category{
	width: 30%;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border: none;
	transition: 300ms linear
}
.nw-card-category:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.30)
}
.nw-card-category:active{
	transition: 100ms linear;
	box-shadow: 0 1px 1px rgba(0,0,0,0.10);
}


.nw-card-cat-title{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.nw-card-cat-img{
	width: 60px;
	height: 60px;
	border-radius: 50%;
	margin-right: 20px;
	display: block;
	background: url(../img/bakery.jpg) no-repeat;
	background-position: center;
	background-size: cover;
}

.nw-card-cat-icon{
	width: 16px;
	height: 16px;
}

.nw-card-category:hover g{
	transition: 300ms linear;
	fill: #E11A2C
}
/*-----Category-----*/




/*-----Subcategory-----*/
.nw-card-subcat{
	width: 30%;
	height: 60px;
	padding: 10px 20px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
	border-top: none;
	border-left: none;
	border-right: none;
	background: transparent;
	transition: 300ms linear
}
.nw-card-subcat-title{
	display: flex;
	align-items: center;
	justify-content: flex-start;
}

.nw-card-subcat-title span:first-child{
	margin-right: 10px
}

.nw-card-subcat-icon{
	width: 16px;
	height: 16px;
}

.nw-card-subcat:hover{
	color: #E11A2C
}

.nw-card-subcat:hover g{
	transition: 300ms linear;
	fill: #E11A2C
}
/*-----Subactegory-----*/




/*-----Featured category-----*/
.nw-card-cat-featured{
	width: 40%;
    min-width: 300px;
    height: 260px;
    min-height: 200px;
    max-height: 260px;
    cursor: pointer;
    text-align: left;
    display: inline-block;
    transition: 300ms linear;
}

.nw-card-cat-featured:hover{
	box-shadow: 0 14px 28px rgba(0,0,0,0.30)
}

.nw-card-cat-featured:active{
	transition: 100ms linear;
	box-shadow: 0 1px 1px rgba(0,0,0,0.10);
}

.nw-card-cat-ft-img{
    width: 100%;
    max-height: 73%;
    min-height: 140px;
    height: 73%;
    overflow: hidden;
}

.nw-card-cat-ft-img img{
	width: 100%
}

.nw-card-cat-ft-title{
	padding: 15px 20px;
	height: calc(27% - 30px);
}

.nw-card-cat-ft-title span{
	display: block;
}
/*-----Featured category-----*/




/*-----Product on grid-----*/
.nw-card-product-grid{
	padding: 10px;
	width: 15%;
	height: 340px;
	margin-bottom: 30px;
	display: inline-table;
	margin-right: 30px;
	position: relative;
}

.nw-card-pg-promo{	
	height: 30px;
	position: absolute;
}

.nw-card-pg-promo img{
	height: 100%
}

.nw-card-pg-img{
	width: 100%;
	height: 150px;
	margin-bottom: 20px;
	text-align: center;
}

.nw-card-pg-img img{
	height: 100%;
}

.nw-card-pg-name{
	height: 50px;
	margin-bottom: 10px;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nw-card-pg-weight{
	display: block;
	margin-bottom: 10px
}

.nw-pg-price-unit{
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.nw-card-pg-price{
	display: inline-block;
	/*margin-bottom: 16px*/
}

.nw-pg-price-unit{
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 5px;
}

.nw-card-product-grid .nw-qty-selector{
	position: absolute;
	left: 0;
	right: 0;
	bottom: 10px;
	margin: 0 auto;
	width: calc(100% - 20px)
}

.nw-card-product-grid .nw-switch-btn-selector{
	float: right;
}


/*-----Product on grid-----*/




/*-----Product on list-----*/
.nw-card-product-list{
	width: 70%;
	padding: 15px 30px 15px 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 30px;	
}

.nw-card-pl-info{
	width: 50%;
	display: flex;
	align-items: center;
}

.nw-card-pl-img{
	width: 90px;
	height: 90px;
	margin-right: 20px;
	text-align: center;
}

.nw-card-pl-img img{
	height: 100%
}

.nw-card-pl-promo{
	height: 30px;
}

.nw-card-pl-promo img{
	height: 100%
}

.nw-card-pl-name{
	width: 100%;
	height: 50px;
	margin-bottom: 10px;
	overflow: hidden;
	white-space: normal;
	overflow: hidden;
	text-overflow: ellipsis;
}

.nw-card-product-list .nw-qty-selector{
	width: 160px
}

