/*-----COLOR-----*/
.nw-color-group{
	margin-bottom: 50px;
	display: flex;
	justify-content: flex-start;
	flex-wrap: wrap;
}

.nw-color-block{
	width: 180px;
	padding: 10px;
	margin-right: 20px;
	margin-bottom: 20px;
	border-radius: 3px;
}

.nw-color-fill{
	width: 100%;
	height: 180px;
	border-radius: 3px 3px 0 0
}

.nw-hexa {
	margin-top: 10px
}

/*---Color fill---*/

.nw-cf-primary{
	background-color: #E11A2C
}

.nw-cf-primary-accented{
	background-color: #CD0618
}

.nw-cf-primary-light{
	background-color: #FF384A
}

.nw-cf-dark{
	background-color: #231F20
}

.nw-cf-gray-dark-one{
	background-color: #5A5758
}

.nw-cf-gray-dark-two{
	background-color: #969696
}

.nw-cf-gray-light-one{
	background-color: #C8C8C8
}

.nw-cf-gray-light-two{
	background-color: #F7F7F7
}

.nw-cf-light{
	background-color: #fff
}

.nw-cf-success{
	background-color: #62D69A
}

.nw-cf-warning{
	background-color: #F6A623
}

.nw-cf-error{
	background-color: #D0011B
}

/*---Color fill---*/




/*---Shadow fill---*/

.nw-sh-default{
	box-shadow: 0 1px 5px rgba(0,0,0,0.24)
}

.nw-sh-long{
	box-shadow: 0 14px 28px rgba(0,0,0,0.30)
}

.nw-sh-down{
	box-shadow: 0 1px 1px rgba(0,0,0,0.10)
}
/*---Shadow fill---*/




/*---Border fill---*/

.nw-border-primary{
	background-color: transparent;
	border: 1px solid #E11A2C;
}

.nw-border-dark{
	background-color: transparent;
	border: 1px solid #231F20;	
}

.nw-border-grey-light-one{
	background-color: transparent;
	border: 1px solid #C8C8C8

}

.nw-border-bottom-grey-light-one{
	background-color: transparent;
	border-bottom: 1px solid #c8c8c8
}
/*---Border fill---*/

/*-----COLOR-----*/
