/*Styling Selectbox*/
.drop-menu {
  width: 300px;
  display: inline-block;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 2px rgb(204, 204, 204);
  transition: all .5s ease;
  position: relative;
  font-size: 14px;
  color: #474747;
  height: 100%;
  text-align: left
}
.drop-menu .select {
    cursor: pointer;
    display: block;
    padding: 10px
}
.drop-menu .select i {
    font-size: 13px;
    color: #888;
    cursor: pointer;
    transition: all .5s ease;
    float: right
}
.drop-menu:hover {
    box-shadow: 0 0 4px rgb(204, 204, 204)
}
.drop-menu:active {
    background-color: #f8f8f8;
}
.drop-menu.active:hover,
.drop-menu.active {
    box-shadow: 0 0 4px rgb(204, 204, 204);
    border-radius: 5px 5px 0 0;
    background-color: #f8f8f8
}
.drop-menu.active .select i {
    transform: rotate(180deg)
}
.drop-menu .dropeddown {
    position: absolute;
    background-color: #fff;
    width: 100%;
    left: 0;
    margin-top: 1px;
    box-shadow: 0 1px 2px rgb(204, 204, 204);
    border-radius: 0 1px 5px 5px;
    overflow: hidden;
    display: none;
    max-height: 144px;
    overflow-y: auto;
    z-index: 9
}
.drop-menu .dropeddown li {
    padding: 10px;
    transition: all .2s ease;
    cursor: pointer
} 
.drop-menu .dropeddown {
    padding: 0;
    list-style: none
}
.drop-menu .dropeddown li:hover {
    background-color: #673AB7;
    color: #fff
}
.drop-menu .dropeddown li:active {
    background-color: #512DA8;
    color: #fff
}