/*-----FONTS-----*/

@font-face{
	font-family: 'calibre-bold';
	src: url(../fonts/Calibre-Bold.otf) format('open type');
}

@font-face{
	font-family: 'calibre-semibold';
	src: url(../fonts/Calibre-Semibold.otf) format('open type');
}

@font-face{
	font-family: 'calibre-medium';
	src: url(../fonts/Calibre-Medium.otf) format('open type');
}

@font-face{
	font-family: 'calibre-regular';
	src: url(../fonts/Calibre-Regular.otf) format('open type');
}


@font-face{
	font-family: 'calibre-light';
	src: url(../fonts/Calibre-Light.otf) format('open type');
}

/*-----FONTS-----*/