/*-----Grid-----*/
.grid-title{
    display: block;
    margin-bottom: 20px
}

.nw-grid-system{
    width: 100%;
    background-color: #FFF;
    height: 300px;
    margin: 0 0 70px;
}

.nw-grid-desktop{
    width: 90%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.nw-grid-col{
    width: calc(100% / 12);
    margin: 0 8px
}

.nw-grid-col-mobile{
    width: 100%;
    margin: 0 8px

}

.nw-grid-tablet{
    width: 80%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

.nw-grid-mobile{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}