/*-----Ishop logo-----*/
.nw-ishop-logo-group{
  display: flex;
  margin-bottom: 30px
}

.nw-ishop-logo-group li{
    display: flex;
    margin-right: 30px;
    width: 30%;
    height: 200px;
    justify-content: center;
    border-radius: 3px
}

.nw-ishop-logo-group li a{
  display: flex;
}
/*-----Ishop logo-----*/




/*-----Club card / points-----*/
.nw-club-card{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px
}

.nw-club-card li{
  display: flex;
  margin-right: 30px;
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  border-radius: 3px
}

.nw-club-card li a{
  display: flex;
}

.nw-club-card li a img{
  width: 100%
}

.nw-fly-buys{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px
}

.nw-fly-buys li{
  display: flex;
  margin-right: 30px;
  margin-bottom: 20px;
  width: 60px;
  height: 60px;
  padding: 15px;
  background-color: #fff;
  text-align: center;
  justify-content: center;
  border-radius: 3px
}

.nw-fly-buys li a{
  display: flex;
}

.nw-fly-buys li a img{
  width: 100%
}
/*-----Club card / points-----*/




/*-----Iconography-----*/
.nw-glyphs{
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 30px
}

.nw-glyphs li{
  display: flex;
  flex-wrap: wrap;
  margin-right: 30px;
  width: 48px;
  height: 48px;
  padding: 15px;
  background-color: #fff;  
  justify-content: center;
  align-items: center; 
  border-radius: 3px;
  margin-bottom: 20px;  
}

.nw-glyphs li a{
  display: flex;
  margin-bottom: 10px
}

.nw-glyphs li a img{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nw-glyphs li svg{
  width: 24px;
  height: 24px;
  cursor: pointer;
}

.nw-glyphs li svg:hover path, .nw-glyphs li svg:hover g{
  fill: #e11a2c;
}

.nw-glyphs li span{
  width: 100%;
  text-align: center;
}


