
/*-----Inputs-----*/

.nw-input{
  display: block;
  margin-top: 5px;
  margin-bottom: 30px;
  width: calc(50% - 48px);
  height: 24px;
  padding: 12px 24px;
  background: #fff;
  transition: all 0.3s linear
}

.nw-input::placeholder{
  font-size: 18px;
  font-family: calibre-regular, sans-serif;
  color: #C8C8C8
}

.nw-input:focus{
  color: #E11A2C;
  outline: none;
  border: 1px solid #E11A2C
}

.nw-input-icon{
  display: flex;
  align-items: center;
  width: calc(50% - 48px);
  background-color: #fff;
  height: 24px;
  padding: 12px 24px;
  margin-bottom: 30px;
  transition: all 0.3s linear
}

.nw-input-icon-img{
  width: 20px;
  margin-right: 15px;
}

.nw-input-icon input{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  border: none;
}

.nw-input-icon input::placeholder{
  font-size: 18px;
  font-family: calibre-regular, sans-serif;
  color: #C8C8C8
}

.nw-input-icon input:focus{
  outline: none;
}
/*-----Inputs-----*/





/*-----Textarea-----*/
.nw-textarea{
  display: block;
  margin-bottom: 20px;
  width: calc(50% - 48px);
  height: 120px;
  padding: 24px;
  background: #fff;
  resize: none;
  transition: all 0.3s linear
}

.nw-textarea::placeholder{
  font-size: 18px;
  font-family: calibre-regular, sans-serif;
  color: #C8C8C8
}

.nw-textarea:focus{
  color: #E11A2C;
  outline: none;
  border: 1px solid #E11A2C
}

.nw-textarea-icon{
  display: flex;
  align-items: flex-start;
  margin-bottom: 30px;
  width: calc(50% - 48px);
  height: 120px;
  padding: 20px 24px;
  resize: none;
  background: #fff;
  transition: all 0.3s linear
}

.nw-textarea-icon textarea::placeholder{
  font-size: 18px;
  font-family: calibre-regular, sans-serif;
  color: #C8C8C8
}

.nw-textarea-icon-img{
  width: 20px;
  margin-right: 15px;
}

.nw-textarea-icon textarea{
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
}

.nw-textarea-icon textarea:focus{
  outline: none;
}
/*-----Textarea-----*/




/*-----Dropdown-----*/
.nw-dropdown {
  width: 50%;
  display: inline-block;
  position: relative;
  background: #fff;
  height: 100%;
  margin-bottom: 30px;
}

.nw-dropdown .nw-dd-select {
  cursor: pointer;
  display: block;
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  transition: all 0.3s linear
}

.nw-dd-chevron {
  width: 10px;
  cursor: pointer;
  transition: all .3s ease;
}

.nw-dropdown.active .nw-dd-select .nw-dd-chevron {
    transform: rotate(180deg)
}

.nw-dropdown .nw-dd-options {
  position: absolute;
  background-color: #fff;
  left: 0;
  right: 0;
  display: none;
  z-index: 9
}
.nw-dropdown .nw-dd-options span{
  padding: 12px 24px;
  transition: all .2s ease;
  cursor: pointer;
  display: block;
} 

.nw-dropdown .nw-dd-options span:hover{
  background-color: #F7F7F7;
}

.nw-dropdown .nw-dd-options span:active{
  background-color: #C8C8C8;
}

.nw-dropdown:focus{
  outline: none;
  border: 1px solid #E11A2C;
}
/*-----Dropdown-----*/




/*-----Checkbox-----*/
@keyframes click-wave-checkbox {
  0% {
    height: 22px;
    width: 22px;
    opacity: 0.35;
    position: relative;
    border-radius: 6px;
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -89px;
    margin-top: -89px;
    opacity: 0;
    border-radius: 12px
  }
}

.nw-checkbox {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 22px;
  width: 22px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #F7F7F7;
  border: 2px solid #C8C8C8;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 3px;
  margin-bottom: 30px
}

.nw-checkbox:checked {
  background: #E11A2C;
  border: none
}
.nw-checkbox:checked::before {
  height: 22px;
  width: 22px;
  position: absolute;
  content: url(../img/icons/ic-checkbox.svg);
  display: inline-block;
  text-align: center;
  line-height: 23px;
}

.nw-checkbox:checked::after {
  -webkit-animation: click-wave-checkbox 0.65s;
  -moz-animation: click-wave-checkbox 0.65s;
  animation: click-wave-checkbox 0.65s;
  background: #E11A2C;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
/*-----Checkbox-----*/




/*-----Radio button-----*/
@keyframes click-wave-radio {
  0% {
    height: 22px;
    width: 22px;
    opacity: 0.35;
    position: relative;
    border-radius: 100%
  }
  100% {
    height: 200px;
    width: 200px;
    margin-left: -89px;
    margin-top: -89px;
    opacity: 0;
    border-radius: 100%
  }
}

.nw-radio-btn {
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  appearance: none;
  height: 22px;
  width: 22px;
  -webkit-transition: all 0.15s ease-out 0s;
  -moz-transition: all 0.15s ease-out 0s;
  transition: all 0.15s ease-out 0s;
  background: #F7F7F7;
  border: 2px solid #C8C8C8;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  outline: none;
  border-radius: 100%;
  margin-bottom: 30px
}

.nw-radio-btn:checked {
  background: #E11A2C;
  border: none
}

.nw-radio-btn:checked::after {
  -webkit-animation: click-wave-radio 0.65s;
  -moz-animation: click-wave-radio 0.65s;
  animation: click-wave-radio 0.65s;
  background: #E11A2C;
  content: '';
  display: block;
  position: relative;
  z-index: 100;
}
/*-----Radio button-----*/
