/*-----GENERAL-----*/
*{
	margin: 0;
	font-family: sans-serif;
	padding: 0
}

li{
	list-style: none;
}

object{
	width: 100%;
}

/*-----GENERAL-----*/

/*-----CONTAINERS-----*/
.wrapper{
	width: 100%;
	height: auto;
}

.container{
	width: 78%;
	float: right;
	padding: 100px 5% 0 0
}
/*-----CONTAINERS-----*/


/*-----HEADER-----*/
.header{
	width: 96%;
	height: 80px;
	position: fixed;
	z-index: 10;
	box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
	padding: 0 2%;
	display: flex;
	align-items: center;
}

.header div a{
	height: 60px;
	margin-right: 30px
}

.header a img{
	width: 120px;
	height: auto;
}
/*-----HEADER-----*/

/*-----SECTION-----*/
.nw-section{
	width: 70%;
	height: auto;
	margin-bottom: 200px;
	padding-top: 110px
}

.nw-section .nw-section-title{
	margin-bottom: 30px;
}

.nw-section .nw-section-subtitle{
	margin-top: 50px;
	margin-bottom: 15px
}
/*-----SECTION-----*/


/*-----SIDEBAR MENU-----*/
.nw-sidebar-menu{
	width: 13%;
	padding: 100px 2% 0 2%;
	position: fixed;

}

.nw-sidebar-menu li{
	margin-bottom: 7px;
	padding: 0 0 0 10px;
	border-radius: 3px;
	cursor: pointer;
}

.nw-sidebar-menu li a{
	width: 100%;
	line-height: 60px;
	display: block;
	color: #231F20;
}

.nw-sidebar-menu li a:hover{
	transition: 300ms linear;
	color: #E11A2C;
}

.nw-sidebar-menu li:hover{
	transition: 300ms linear;
	box-shadow: 0 3px 4px rgba(0,0,0,0.2);
}

.nw-sb-active{
	transition: 50ms linear;
	box-shadow: 0 1px 1px rgba(0,0,0,0.10);
}

.nw-sb-active a{
	color: #E11A2C !important
}

/*-----SIDEBAR MENU-----*/

/*-----INTRO-----*/
.nw-intro img{
	margin-bottom: 50px;
	width: 400px
}
/*-----INTRO-----*/


.nw-center-horizontally{
	display: flex;
	align-items: center;
	height: auto;
}

.nw-distribute-horizontally{
	display: flex;
	justify-content: space-between;
	height: auto;
}
