.nw-alert-alert-btn{
  display: block;
  margin-right: 30px
}

/*-----Alert-----*/
.nw-alert-main {
  position: fixed;
  padding: 30px;
  z-index: 1000;
  width: 40%;
  top: 0;
  right: -50%;
  bottom: 0;
  transition: right 0.35s ease;
}

.nw-alert-content{
  text-align: center;
  margin: 20% auto;
  width: 80%
}

.nw-alert-content h3{
  margin-bottom: 5%
}

.nw-alert-main button{
    margin: 5% auto 0
}
/*-----Alert-----*/




/*-----Modal-----*/
.nw-modal-main {
    position: fixed;
    z-index: 1000;
    top: -800px;
    left: 0;
    right: 0;
    margin: auto;
    width: 40%;
    height: 470px;
    padding: 20px;
    background-color: #fff;
    transition: top 0.35s ease;
}

.nw-modal-header{
    width: 100%;
    height: 72px;
    margin: 0 auto 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nw-modal-content{
  width: 80%;
  text-align: center;
  margin: 0 auto
}

.nw-modal-main p{
  margin: 0 auto 5%;
}

#nw-modal-main .nw-input-icon{
    width: 80%;
    margin: 0 auto 5%;
}

#nw-modal-main .nw-modal-btn{
    margin: 0 auto
}
/*-----Modal-----*/




/*-----General-----*/
.hidden {
  visibility: hidden;
  transition: visibility 0s;
  position: absolute;
  left: -10000px
}

#nw-overlay {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  cursor: initial;
  opacity: 0;
  transition: opacity 0.5s ease;
}


.btn-close {
  padding: 15px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn-close svg:hover path{
    transition: all 300ms linear;
    fill: #e11a2c;
}

.btn-add {
  padding: 15px;
  display: block;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.btn-add svg:hover path{
    transition: all 300ms linear;
    fill: #e11a2c;
}


#nw-alert-trigger:checked ~ #nw-alert-main {
  right: 0;
}

#nw-modal-trigger:checked ~ #nw-modal-main {
  top: 100px;
}
.nw-show-overlay:checked ~ #nw-overlay {
  visibility: visible;
  opacity: 1;
}
/*-----General-----*/

