/*-----TEXT STYLES-----*/

/*---Basic styling---*/
h1, .nw-h1{
	font-size: 64px;
	font-family: calibre-semibold, sans-serif;
}

h2, .nw-h2{
	font-size: 45px;
	font-family: calibre-semibold, sans-serif;
}

h3, .nw-h3{
	font-size: 32px;
	font-family: calibre-semibold, sans-serif;
}

h4, .nw-h4{
	font-size: 24px;
	font-family: calibre-semibold, sans-serif;
}

h5, .nw-h5{
	font-size: 16px;
	font-family: calibre-semibold, sans-serif;
}

h6, .nw-h6{
	font-size: 15px;
	font-family: calibre-semibold, sans-serif;
}

a{
	text-decoration: none;
	font-family: calibre-regular, sans-serif;
}

li{
	list-style: none;
}

.nw-p-regular{
	font-size: 18px;
	font-family: calibre-regular, sans-serif;
	line-height: 25px
}

.nw-p-regular-bold{
	font-size: 18px;
	font-family: calibre-bold, sans-serif;
	line-height: 25px
}

.nw-p-small{
	font-size: 15px;
	font-family: calibre-regular, sans-serif;
	line-height: 21px
}

.nw-p-small-bold{
	font-size: 15px;
	font-family: calibre-bold, sans-serif;
	line-height: 21px
}

.nw-p-xsmall{
	font-size: 12px;
	font-family: calibre-regular, sans-serif;
	line-height: 18px
}

.nw-p-xsmall-bold{
	font-size: 12px;
	font-family: calibre-bold, sans-serif;
	line-height: 18px
}

.nw-pricetag{
	font-size: 24px;
	font-family: calibre-bold, sans-serif;
	line-height: 24px
}

.nw-pricetag-lg{
	font-size: 50px;
	font-weight: bold;
	font-family: calibre-bold, sans-serif;
}

.nw-btn-label-lg{
	font-size: 18px;
	font-family: calibre-bold, sans-serif;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	line-height: 18px;
}

.nw-btn-label-md{
	font-size: 14px;
	font-family: calibre-bold, sans-serif;
	letter-spacing: 1.8px;
	text-transform: uppercase;
	line-height: 14px
}

.nw-btn-label-sm{
	font-size: 12px;
	font-family: calibre-regular, sans-serif;
	text-transform: uppercase;
	letter-spacing: 1.2px;
	line-height: 12px;
}

.nw-button-link{
	font-size: 18px;
	text-decoration: underline;
	color: #E11A2C;
	cursor: pointer;
}
/*---Basic styling---*/




/*---Color styles---*/

.nw-tc-primary{
	color: #E11A2C
}

.nw-tc-primary-accented{
	color: #cd0618
}

.nw-tc-primary-light{
	color: #ff384a
}

.nw-tc-dark{
	color: #231f20
}

.nw-tc-gray-dark-one{
	color: #5a5758
}

.nw-tc-gray-dark-two{
	color: #969696
}

.nw-tc-gray-light-one{
	color: #c8c8c8
}

.nw-tc-gray-light-two{
	color: #f7f7f7
}

.nw-tc-light{
	color: #fff
}

.nw-tc-notification-success{
	color: #62d69a
}

.nw-tc-notification-warning{
	color: #f6a623
}

.nw-tc-notification-error{
	color: #d0011b
}
/*---Color styles---*/
/*-----TEXT STYLES-----*/
