/*-----TYPOGRAPHY-----*/
.nw-typography li{
	width: 100%;
	border-bottom: 1px solid #C8C8C8;
	padding: 30px 0 30px 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.nw-typography li p{
	width: 60%
}
/*-----TYPOGRAPHY-----*/